header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    color: #FFFFFF;
    /* IN CONSENSED FORM--background: url("../images/logo.png") no-repeat 20px,left center; */
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}

